.login-box{
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background: linear-gradient(to bottom right, #eee, #fff);
}

.login-wrapper{
  width: 40%;
  border-radius: 15px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  background: white;
}

.login-header{
  text-align: center;
  color: white;
  background-color: red;
  padding: 20px;
  display: block;
  font-family: sansita;
  font-size: -webkit-xxx-large;
  /* position: absolute;
  width: 100%; */
  top: 0;
  left: 0;
}

.login-input{
  border-radius: 20px;
  background-color: grey;
  width: 100%;
}

.login-input:focus {
  width: 103%;
}

.toolbox-item{
  height: 180px;
}

.toolbox-btn{
  position: absolute;
  bottom: 10px;
}

.navbar{
  background-color: none !important;
  border-bottom: grey solid;
  border-bottom-width: .1px !important;
}

/*nav{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}*/

.navbar-brand-blue{
  border-radius: 50%;

  width: 48px;
  height: 45px;
  padding: 2px;

  background: #002db3;

  color: #fff;
  text-align: center;

  font: 38px Arial, sans-serif;
}

h6 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  padding: .75rem .75rem !important;
}

h1{
  color: rgb(74, 139, 15);
}

.nb-id{
  color: rgb(74, 139, 15);
}

.btn{
  cursor: pointer;
}

[role="button"]{
  cursor: pointer;
}

.modal-header{
  min-height: 50px !important;
}

footer{
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  z-index: 999;
  background-color: white;
  border-top: solid 1pt #CCC;
  padding: 0px 20px 0px 20px;
}

.overlay {
    background-color: rgba(1, 1, 1, 0.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.maroon-font{
  color: maroon !important;
}

.green-font{
  color: rgb(75,139, 15) !important;
}

.overlay-loading{
  width: 300px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(250, 250, 250, 0.9);
}

/* .main-dash-table{
  max-height: 300px;
  overflow: scroll;
}

.main-dash-table tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

.main-dash-table tbody{
  overflow-y: scroll;
  height: 30vh;
  width: 95%;
  position: absolute;
} */
